.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: .88rem;
  background-color: #7EB4B2;
  border: 4px solid #253635;
  border-radius: 15px;
  opacity: 0.95;
}

/* Unclear what the below is */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Make it responsive */
@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
